<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/68af78329d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg justify-content-between">
        <a class="navbar-brand" href="/posts">
            <i class="fas fa-blog"></i>
            <span>CMPG_213_BLOG</span> 
        </a>
        <div class="navbar-nav">
            <a class="nav-item nav-link mr-2" href="/posts">Posts </a>
            <a class="nav-item nav-link" href="/posts/new">Create New Post</a>
        </div>
      </nav>
