<%- include('./partials/header') %> 

<section class="landing">
    <div class="dark-overlay">
        <div class="landing-innner">
            <h1 class="x-large">CMPG 213 - BLOGGER</h1>
            <p class="lead">Genius is 1% inspiration, and 99% perspiration </p>
            <div class="buttons">
                <a href="/posts" class="btn btn-primary">Start Blogging</a>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/footer') %> 